<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @client_session.username %>
</p>

<p>
  <b>Password:</b>
  <%= @client_session.password %>
</p>


<%= link_to 'Edit', edit_client_session_path(@client_session) %> |
<%= link_to 'Back', client_sessions_path %>
