<%= form_for(@cpa_session) do |f| %>
  <% if @cpa_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cpa_session.errors.count, "error") %> can't sign in:</h2>

      <ul>
      <% @cpa_session.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit 'Log In'%>
  </div>
<% end %>
