<p id="notice"><%= notice %></p>
<p>
  Hello <%= current_cpa.name %>. <br>   <br>
  On this page you can create new Documents and proper Client will receive it. <br>
  <%= link_to "Create new document", new_cpa_document_path(current_cpa)%>  <br> <br>
  Also, below you can find all your documents, sorted by years.          <br>  <br>

  CPA Documents: <br>
  <%  current_cpa.documents.select("DISTINCT year").each do |doc| %>
      <%= link_to doc.year, cpa_documents_path(current_cpa, year: doc.year, user: "cpa") %>           <br>      <br>
  <% end %>

  <br><br>

  Clients Documents:  <br>
  <%  @client.documents.select("DISTINCT year").each do |doc| %>
      <%= link_to doc.year, cpa_documents_path(current_cpa, year: doc.year, user: "client") %>           <br>   <br>
  <% end %>
</p>
